<?xml version="1.0" encoding="utf-8" ?>
<BotSettings>
  <InitializationDelay Value="3000" />
  <Key Value=""/>
  <ClientAccessToken Value=""/> <!--ApiSDK.-->
  <Commands>
    <Command Name="Help" Enabled="true" Order="1" />
    <Command Name="Lunch" Enabled="true" Time="11:55:00" DaysToExclude="Sunday, Saturday" Order="2" />
    <Command Name="Holiday" Enabled="true" Time="13:00:00" Order="3" />
    <Command Name="ApiSdk" Enabled="true" Order="4" /> <!--Should be the last.-->
  </Commands>
</BotSettings>
